@import url(reset.css);

body {
    font-family: verdana, Tahoma, sans-serif;
    margin: 0 auto;
    background-color: #000;
    /* background-image: url(images/dark-bg-2.jpg); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    max-width: 1000px;
}

/*==================== 頁首欄位==========================*/

header {
    background-color: rgba(77, 77, 77, 0.322);
}

header h2 {
    padding: 10px;
    text-align: center;
    font-size: 28px;
    color: white;
}

section {
    display: flex;
}

/*================= left-box 左邊欄位====================*/

#left-box {
    /* display: flex; */
    /* flex-direction: column; */
    flex: 2;
    background: rgba(69, 70, 110, 0.5);
    padding: 30px;
    /* width: 40%; */
    color: rgb(212, 212, 212);
}

/* ------------------Info----------------- */

.vInfo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.vPhoto img {
    border-radius: 50%;
    width: 130px;
}

.vTitle {
    margin-left: 20px;
    /* min-width: 160px; */
}

.vTitle .myName {
    font-size: 1.5em;
    font-weight: bold;
}

.vTitle .myEnName {
    font-size: 1.2em;
    font-weight: normal;
}

.vTitle .myTitle {
    font-size: 1em;
    line-height: 2em;
}

#left-box hr {
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    height: 3px;
    background-color: deepskyblue;
    margin-bottom: 15px;
}



/* ------------------Introduction----------------- */

.vIntro {
    margin-bottom: 40px;
}

.vIntro p {
    /* font-size: 0.9em; */
    line-height: 1.5em;
}

/* ------------------skills----------------- */

.vSwSkill {
    margin-bottom: 40px;
}

.enTitle {
    font-size: 16px;
    line-height: 1.5em;
    color: rgb(133, 212, 231);
}

.twTitle {
    font-weight: bold;
    font-size: 24px;
    color: rgb(133, 212, 231);
}

.twTitle::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 8px;
    background-color: deepskyblue;
    margin-left: 10px;
}

/* -----------list skills----------- */

.listSwSkill .bar {
    /* min-width: 160px; */
    height: 10px;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    width: 150px;
}

.listSwSkill .listSwName {
    min-width: 130px;
}

.listSwSkill li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.value {
    height: 100%;
    width: 100%;
    background-color: deepskyblue;
}

.value.p10 {
    width: 10%;
}

.value.p20 {
    width: 20%;
}

.value.p30 {
    width: 30%;
}

.value.p40 {
    width: 40%;
}

.value.p50 {
    width: 50%;
}

.value.p60 {
    width: 60%;
}

.value.p70 {
    width: 70%;
}

.value.p80 {
    width: 80%;
}

.value.p90 {
    width: 90%;
}

.value.p100 {
    width: 100%;
}

/* -----------list Education----------- */

.listEdu li {
    display: flex;
    /* margin-bottom: 10px; */
    padding-top: 15px;
}

.listEdu .eduClass {
    padding-left: 10px;
    margin-left: 10px;
    border-left: solid 4px #cecece;
}

.eduClass p {
    padding-top: 10px;
}

.vEdu {
    margin-bottom: 40px;
}

/* -----------list Contact----------- */

.listContact {
    padding-top: 10px;
}

.vContact ul li {
    padding: 1px 0 2px 0px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.vContact ul li span {
    padding: 0 10px 0 0;
}

.vContact ul li a{
    text-decoration: none;
    color: rgb(212, 212, 212);;
}

.vContact ul li a:hover{
    text-decoration: none;
    color: rgb(209, 169, 162);;
}


/*================= 右邊欄位========================*/

#right-box {
    flex: 3;
    background-color: rgba(250, 250, 250, 0.1);
    padding: 65px 10px 65px 40px;
    color: rgb(212, 212, 212);
    /* width: 60%; */
    /* min-width: 380px; */
    /* padding-top: 150px; */
    /* padding-left: 50px; */
}

/* -----------list Skills----------- */

.vSkills {
    margin-top: 5px;
    margin-bottom: 25px;
}

.vSkills ul {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vSkills ul li {
    width: 40%;
    margin: 15px;
    /* background-color: rgba(240, 104, 104, 0.123); */
}

.vSkills ul li h3 {
    font-size: 1.2em;
    padding-bottom: 5px;
    border-bottom: 3px solid #cecece;
    margin-bottom: 5px;
    font-weight: bold;
}

.vSkills ul li p {
    font-size: 1em;
    padding: 0 5px 0 5px;
    line-height: 1.3em;
    text-align:justify;
}

/* -----------list EXP----------- */

.listExp .inExp {
    display: flex;
    /* margin-bottom: 10px; */
    padding-top: 15px;
    padding-bottom: 20px;
}

.listExp .expYear{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listExp .expJob {
    padding-left: 10px;
    margin-left: 10px;
    border-left: solid 4px;
}

.listExp>li:nth-child(1) .expJob {
    border-color: #ff7c72
}

.listExp>li:nth-child(2) .expJob {
    border-color: #ffaf79
}

.listExp>li:nth-child(3) .expJob {
    border-color: #ffd59e
}

/* .expJob p{
    font-size: 0.9em;
    padding-top: 10px;
} */

.expJob h2 {
    padding-bottom: 5px;
}

.expJob h2 .type1 {
    color: rgb(214, 223, 165);
    font-weight: bold;
    font-size: 1.2em;
}

.expJob h2 .type2 {
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.534);
    padding: 2px 4px 3px 4px;
}

/*=================自介影片欄位=======================*/

.introVideo{
    background-color:rgba(250, 250, 250, 0.164);
    padding: 10px 30px 30px 30px;
}

.introVideo p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    line-height: 1.2;
    color: rgb(196, 196, 196);
}

.introVideo .contentv .subtitlev{
    font-size: 26px;
    color: rgb(61, 226, 255);
}

.introVideo iframe{
    border-radius:20px;
}


/*=================作品欄位=======================*/

.demo {
    background-color: rgba(250, 250, 250, 0.164);
    padding: 30px;
}

/* -----------list Works----------- */

.vWorks {
    /* margin-top: 5px; */
    margin-bottom: 35px;
    color: rgb(212, 212, 212);
}

.vWorks ul {
    display: flex;
    /* width: 90%; */
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
}

.vWorks ul li {
    width: 380px;
    /* height: 250px; */
    margin: 10px 10px;
    /* background-color: rgba(240, 104, 104, 0.123); */
}

.vWorks ul li h3 {
    padding-bottom: 5px;
    border-bottom: 3px solid #cecece;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.vWorks ul li p {
    font-size: 1em;
    padding: 5px;
    line-height: 1.2em;
}

.workTitle {
    font-weight: bold;
    font-size: 24px;
    color: rgb(255, 128, 78);
}

.workTitle::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 5px;
    background-color: rgb(255, 166, 0);
    margin-left: 10px;
}

.vWorks iframe{
    border-radius: 6px;
  }

  .vWorks .listWorks img{
    border-radius: 6px;
  }

/*=================頁尾欄位=======================*/

footer{
    background-color: rgba(77, 77, 77, 0.322);
}

footer p{
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: rgb(141, 141, 141);
}

/*=================RWD設定欄位=======================*/

/* @media screen and (max-width: 1000px) {} */

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }
    #left-box {
        padding: 30px 120px 30px 120px;
    }
    #right-box {
        padding: 30px 10px 30px 120px;
    }
    .listSkills li {
        justify-content: stretch;
    }
    .listSkills .bar {
        width: 200px;
    }
    .introVideo iframe{
        width: 560px;
        height: 315px;
    }
    .vSkills ul {
        justify-content: flex-start;
        /* flex-direction: column; */
        /* width: 75%; */
        /* margin: 15px; */
        /* background-color: rgba(240, 104, 104, 0.123); */
    }
    .vSkills ul li {
        /* width: 50%; */
        /* margin: 15px; */
        /* background-color: rgba(240, 104, 104, 0.123); */
    }
}

@media screen and (max-width: 560px) {
    section {
        flex-direction: column;
    }
    #left-box {
        padding: 30px 30px 30px 30px;
    }
    #right-box {
        padding: 30px 30px 30px 30px;
    }
    .listSkills li {
        justify-content: stretch;
    }
    .listSkills .bar {
        width: 200px;
    }

}


@media screen and  (max-width: 600px) {
    .introVideo iframe{
        width: 400px;
        height: 225px;
    }
}

@media screen and  (max-width: 450px) {
    .introVideo iframe{
        width: 90%;
        height: 180px;
    }
    .vSkills ul {
        align-items: center;
        flex-direction: column;
        /* width: 75%; */
        /* margin: 15px; */
        /* background-color: rgba(240, 104, 104, 0.123); */
    }
    .vSkills ul li{
        /* justify-content: flex-start; */
        /* flex-direction: column; */
        width: 85%;
        /* margin: 15px; */
        /* background-color: rgba(240, 104, 104, 0.123); */
    }
}